BOT_TOKEN=<your_bot_token>
ALLOWED_EXT=pdf,txt,md,docx,html,jpg,jpeg,png,webp
MAX_FILE_MB=25
TOP_DOCS=5
CHUNKS_PER_DOC=3
LOG_LEVEL=INFO
TOP_IMAGES=3

EMBED_MODEL_NAME=jinaai/jina-embeddings-v3
CLIP_MODEL_NAME=jinaai/jina-clip-v2
HF_CACHE_DIR=./.hf_cache

MILVUS_DB_PATH=./data/milvus.db
MILVUS_COLLECTION=rag_chunks
MILVUS_IMAGE_COLLECTION=rag_images
MILVUS_METRIC=COSINE
MILVUS_TOPK_LIMIT=200

CHUNK_SIZE_TOKENS=800
CHUNK_OVERLAP_TOKENS=120
OCR_LANG=rus+eng

RAG_USE_LLM=true
GIGACHAT_CREDENTIALS=<your_gigachat_credentials_key>
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-2
GIGACHAT_VERIFY_SSL=false
GIGACHAT_STREAMING=false
